[submodule "lib/InertialFlowCutter"]
	path = lib/InertialFlowCutter
	url = https://github.com/kit-algo/InertialFlowCutter.git
[submodule "lib/population-grid-parser"]
	path = lib/population-grid-parser
	url = https://github.com/nils-we97/population-grid-parser.git
[submodule "lib/routing-kit"]
	path = lib/routing-kit
	url = https://github.com/nils-we97/RoutingKit_fork.git
